.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    }
    
    .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #b71c1c;
    text-shadow: 2px 2px 4px #000000;
    width: 95%;
    height: 90%;
    }
    
    @media (max-width: 768px) {
    .main {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    height: 88%;
    }
    
    .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    padding: 0.2rem;
    }
    }