
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #b71c1c;
    text-shadow: 15px 15px 9px #000000;

}
@media (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        overflow: scroll;
        height: 92%;
        width: 100vw;
    }
  
    .content{
        display: flex;
        height: 100%;
        overflow: scroll;
        flex-direction: column-reverse;
    }
}
