.Inventory {
  margin: 20px;
}

.Inventory h1 {
  font-size: 24px;
  color: #333;
}

.Inventory h2 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.Inventory button {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.Inventory form {
  margin-bottom: 10px;
}

.Inventory input {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Inventory .materiales {
  margin-top: 20px;
}

.Inventory .materialCard {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.Inventory .materialCard p {
  margin-bottom: 5px;
}

.Inventory .materialCard button {
  margin-right: 5px;
}
