/* Estilos base */
.ContenedorInv {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #978383, inset -20px -20px 60px #ffffff;
    justify-content: left;
  }
  
  .ContenedorInv h1 {
    display: flex;
    justify-content: center;
  }
  
  .input {
    display: flex;
    justify-content: center;
  }
  
  .input input {
    margin-right: 20px;
    height: 5vw;
    width: 20%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #978383, inset -20px -20px 60px #ffffff;
    text-shadow: 15px 15px 9px #000000;
  }
  
  .input input::placeholder {
    width: fit-content;
  }
  
  .ItemCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: #ffffff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50px;
    width: 90%;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #978383, inset -20px -20px 60px #ffffff;
  }
  
  .ItemCont p {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 20px;
    height: 90%;
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-shadow: inset 20px 20px 60px #978383, inset -20px -20px 60px #ffffff, 5px 17px 20px #978383;
  }
  
  .ItemCont button {
    width: 20vw;
  }
  
  .QRCode {
    width: 0px;
  }
  
  /* Estilos responsive para dispositivos móviles */
  @media (max-width: 768px) {
    .ContenedorInv {
      width: 90vw;
      height: 78vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin:.5rem;
    }
  
    .input input {
      width: 95%;
      border-radius: 10px;

    }
    .btnAgregar{
        border-radius: 10px;
    }
    .input{
        display: flex;
        flex-direction: column;
        
    }
  
    .ItemCont {
      width: 90%;
      height: 70%;
      flex-direction: column;
      align-items: flex-start;
      margin-left: .1rem;
    }
  
    .ItemCont p {
      margin: 0.5rem 0;
      width: 80%;
    }
  
    .ItemCont button {
      width: 40vw;
      margin-top: 1rem;
      border-radius: 10px;
    }
  }
  