.ContenedorInv{
    width: 76vw;
    padding: 2rem;
    margin: 1rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #978383,
                inset -20px -20px 60px #ffffff;
                justify-content: left;
}

.ContenedorInv h1 {
    display: flex;
    justify-content: center;
}
.input {
    display: flex;
    justify-content: center;

}
.input input{
    margin-right: 20px;
    height: 5vw;
    width: 20vw;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #978383,
                inset -20px -20px 60px #ffffff;
                text-shadow: 15px 15px 9px #000000;

}
.input input::placeholder{
    width: fit-content;
}
.ItemCont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: #ffffff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50px;
    width: 66vw;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #978383,
                inset -20px -20px 60px #ffffff;

}
