.navLogin{
  width: 100%;
  height: 9%;
  display: flex;
  margin: .3rem;
  justify-content: center;
}
.userProfile{

    width: 90%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 20px 20px 50px #978383,
    inset -20px -20px 50px #ffffff;
               
}

.profilePicture {
  position: absolute;
  left: 1rem;
  top: .5rem;
  display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #978383,
               -15px -15px 30px #ffffff;
  }
  
.userName {
  
  text-shadow:  
  15px 15px 20px #000000,
  -15px -15px 20px #b53737;
  display: flex;
  align-items: center;
  text-align: center;
}

.btn {
  position: absolute;
  right: 1rem;
  top: .5rem;
  background-color: #f44336;
  color: rgb(33, 30, 30);
  padding: 8px 8px;
  border-radius: 20px;
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: inset  20px 20px 60px #978383,
              inset -20px -20px 60px #ffffff,
                      5px 17px 20px #978383;
}

.btn:hover {
  background-color: #9d8b8b;
  transform: scale(1.08);
    transition: transform .2s ease;
}

