.userProfile{
    width: 96vw;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 20px 20px 50px #978383,
    inset -20px -20px 50px #ffffff;
               
}

.profilePicture {
  position: absolute;
  left: 1.5rem;
  top: .4rem;
  display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #978383,
               -15px -15px 30px #ffffff;
  }
  
.userName {
  
  text-shadow:  
  15px 15px 20px #000000,
  -15px -15px 20px #b53737;
  display: flex;
  align-items: center;
}

.btn {
  background-color: #f44336;
  color: rgb(33, 30, 30);
  padding: 8px 8px;
  border-radius: 20px;
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: inset  20px 20px 60px #978383,
              inset -20px -20px 60px #ffffff,
                      5px 17px 20px #978383;
}

.btn:hover {
  background-color: #9d8b8b;
  transform: scale(1.08);
    transition: transform .2s ease;
}

.btn:active {
    background-color: #ae5d5d;
    box-shadow: 9px 9px 30px rgb(25, 25, 25),
               -9px -9px 30px rgb(60, 60, 60);
  }   