/* Estilos base */
.Sidebar {
    border-radius: 50px;
    width: 15%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: .5rem;
  }
  
  .opcion {
    height: 5rem;
    border-radius: 30px;
    width: 10rem;
    font-size: 25px;
    background: #ffffff;
    text-shadow: 15px 15px 9px #000000;
    box-shadow: inset 20px 20px 60px #978383, inset -20px -20px 60px #ffffff, 5px 17px 20px #978383;
  }
  
  .opcion:hover {
    background-color: #9d8b8b;
    transform: scale(1.08);
    transition: transform 0.2s ease;
  }
  
  /* Estilos responsive para dispositivos móviles */
  @media (max-width: 768px) {
    .Sidebar {
      width: 90vw;
      height: 7%;
      display: flex;
      flex-direction: row;
      justify-content:flex-start;
      
    }
  
    .opcion {
      height: 15vw;
      width: 15vw;
      margin: 5px;  
      font-size: 8px;
    }
  }
  